.Header {
	padding: 10px 0;

	.Header__Content {
		padding: 5px 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.Left__Content {

			.TitleContent {
				.Title {
					text-decoration: none;
					color: black;
				}
			}
		}

		.Right__Content {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}