.Auth {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: auto;

	.Auth__Title {
		margin: 10px 0;
	}

	.Auth__Form {
		.passwordInput {
			display: flex;
			align-items: center;
			gap: 10px;
		}
	}

	.Border {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 10px 0;

		.Text {
			color: #464646;
			margin: 0 10px;
		}

		.Line {
			background: #464646;
			width: 100%;
			height: 1px;
		}
	}

	.Message {
		position: absolute;
		background: #fff;
		border: 1px solid black;
		border-radius: 5px;
		padding: 10px 10px;
		margin: 10px 0;
		color: red;
	}
}