.ShowButton {
    // margin-left: -10px;
    transform: scale(0.9);
    border: 1px solid black;
    border-radius: 5px;
    padding: 1px 1px 0px 1px;
    transition: 0.2s;

    &:hover {
        transform: scale(0.8);
        transition: 0.2s;
    }
}